{
  "extends": "standard",
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "twemoji": true
  },
  "rules": {
    "no-void": "off",
    "no-undefined": "error",
    "prefer-const": "error",
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": true
        }
      }
    ],
    "prefer-template": "error",
    "array-bracket-newline": [
      "error",
      "consistent"
    ],
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "multiline-ternary": [
      "error",
      "always-multiline"
    ],
    "object-property-newline": "error"
  }
}
